<div class="row">
  <div class="col-12 pt-2 pb-2">
    <div id="top-nav-wrapper" class="float-end bg-white rounded-pill pt-2 pb-2 px-3">
      <a class="link-secondary me-1" href="{{ site.admin }}"><span class="fa-stack fa-1x" style="flex-shrink: 0;"><i class="fas fa-circle fa-stack-2x"></i><i class="fas fa-house fa-stack-1x fa-inverse"></i></span></a>
      <a class="link-secondary me-2" href="{{ site.admin }}user-profile/"><span class="fa-stack fa-1x" style="flex-shrink: 0;"><i class="fas fa-circle fa-stack-2x"></i><i class="fas fa-user-astronaut fa-stack-1x fa-inverse"></i></span></a>
      <button id="logout-btn" type="button" class="btn btn-outline-secondary btn-sm">Logout</button>
    </div>
  </div>
</div>

