#botswana-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height:712px;
  width:796px;
}
#routesTable {
  height:712px;
}

.carousel-item {
  height:760px;
}
#botswana-img .draggable {
  font-size:0.700rem;
}
#botswana-img .draggable .fa {
  color: $danger ;
}